$primary-color: #F9FAFC;
$secondary-color: #CBD5E0;
$hover-color: #ddd;
$border-color: #3B82F6;

.table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid $border-color;
}

.tr {
  &:nth-child(even) {
    background-color: $primary-color;
    
  }

  &:hover {
    background-color: $hover-color;
  }
}

.th,
.td {
  
  padding: 8px;
}

.th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: $primary-color;
  color: white;
 
}
